:root {
    /* color palette */
    --spanishgrey: #a59b97;
    --isabelline: #ebe4df;
    --sonicsilver: #797371;
    --beaver: #9b8275;
    --cultured: #f8f7f6;
    --black: black;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--cultured);
}

main {
    width: 100vw;
    min-height: 70vh;
    background-color: var(--isabelline);
    margin: auto;
    padding: 10px;
}

.btn {
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

/* basic styling ends here */

/* styling for login och register page here */
.user-div {
    background-color: white;
    border-radius: 8px;
    width: 450px;
    margin: auto;
    padding: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

button, input {
    border-radius: 8px;
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
}

button {
    border: 1px solid black;
    cursor: pointer;
}

.success {
    background-color: #90ee90;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}

.fail {
    background-color: #ffcccb;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}

/* styling for login och register page ends here */

/* styling for profile page here */

.admin-create-div {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
}

.admin-div {
    width: 40%;
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
}

.btn-create {
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
}

/* styling for profile page ends here */