:root {
    /* color palette */
    --spanishgrey: #a59b97;
    --isabelline: #ebe4df;
    --sonicsilver: #797371;
    --beaver: #9b8275;
    --cultured: #f8f7f6;
    --black: black;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--cultured);
}

main {
    width: 70vw;
    background-color: var(--isabelline);
}