:root {
    /* color palette */
    --spanishgrey: #a59b97;
    --isabelline: #ebe4df;
    --sonicsilver: #797371;
    --beaver: #9b8275;
    --cultured: #f8f7f6;
    --black: black;
    --white: white;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--cultured);
}

a {
    text-decoration: none;
    color: var(--beaver);
    font-size: 1.2rem;
}

main {
    width: 100vw;
    min-height: 70vh;
    background-color: var(--isabelline);
    margin: auto;
    padding: 10px;
}

.btn {
    background-color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
}

/* basic styling ends here */

/* styling for login och register page here */
.user-div {
    background-color: white;
    border-radius: 8px;
    width: 450px;
    margin: auto;
    padding: 32px;
}

form {
    display: flex;
    flex-direction: column;
}

button, input {
    border-radius: 8px;
    display: block;
    margin: 8px 0;
    padding: 8px;
    width: 100%;
    border: 1px solid var(--isabelline);
}

button {
    border: 1px solid black;
    cursor: pointer;
}

.success {
    background-color: #90ee90;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}

.fail {
    background-color: #ffcccb;
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px;
    text-align: center;
}

/* styling for login och register page ends here */

/* styling for profile page here */

.admin-create-div {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
}

.admin-div, .customer-contact-div {
    width: 30%;
}

.link {
    width: 73%;
}

.profile-show-all {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cultured);
}

.btn-delete {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
}

.btn-edit {
    background-color: var(--beaver);
    color: var(--cultured);
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
    font-size: 1rem;
}

.btn-create {
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 2px;
    padding: 5px;
}

.change-roll {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.change-roll>input, .change-roll>select {
    background-color: var(--beaver);
    color: var(--cultured);
    height: 30px;
    margin: 4px;
}

.customer-div {
    display: flex;
    justify-content: space-evenly;
}

/* styling for profile page ends here */

